<section >

  <header id="header">
    <h1>todos</h1>
    <div class="row">
      <div class="col-sm-1">
        <img ng-src="http://www.gravatar.com/avatar/{{ profile.md5_hash }}" class="prof-img" />
      </div>

      <div class="col-sm-10">
      <span class="name">
        {{ profile.username }}
      </span>
      </div>
    </div>
    <form id="todo-form" ng-submit="addTodo()">
      <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" autofocus>
    </form>
  </header>
  <section id="main" ng-show="totalCount" ng-cloak>
    <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
    <label for="toggle-all">Mark all as complete</label>
    <ul id="todo-list">
      <li ng-repeat="(id, todo) in todos | todoFilter" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
        <div class="view">
          <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="todos.$save(todo)">
          <label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
          <button class="destroy" ng-click="removeTodo(todo)"></button>
        </div>
        <form ng-submit="doneEditing(todo)">
          <input class="edit" ng-model="todo.title" todo-escape="revertEditing(todo)" todo-blur="doneEditing(todo)" todo-focus="todo == editedTodo">
        </form>
      </li>
    </ul>
  </section>
  <footer id="footer" ng-show="totalCount" ng-cloak>
				<span id="todo-count"><strong>{{remainingCount}}</strong>
					<ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
				</span>

    <button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="completedCount">Clear completed</button>
  </footer>
</section>
